.patternWrapper{
  width: 100%;
  margin: 0;
  .pattern{
    border: solid 12px rgba(204, 204, 204, 0.4);
  }
}

@media screen and (min-width: 786px) {
  .patternWrapper{
    width: 700px;
    margin-left: calc(50% - 350px);
  }
}