:global{
  body{
    background-color: #87a092;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .recharts-legend-item{
      margin-top: 10px;
    }
    .recharts-wrapper{
      font-size: 12px;
    }
  }
}